/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 62.5%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.main-header {
  background-color: #00044A;
  height: 20vh;
}
.main-header .nav {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1400px) {
  .main-header .nav .home-a {
    margin: 30px 15px auto 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Concert One', cursive;
    transition: all 0.7s ease-in-out;
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  .main-header .nav .home-a:hover {
    transition: all 0.4s ease-in-out;
    background-color: yellow;
    color: #00044A;
    border: 3px solid;
  }
  .main-header .nav .home-a:hover:nth-child(4) {
    background-color: #f10000;
    color: white;
    border: 0px solid;
    font-size: 1.3rem;
  }
}
@media (max-width: 1400px) and (max-width: 600px) {
  .main-header .nav .home-a {
    display: none;
  }
}
@media (max-width: 1400px) and (max-width: 790px) {
  .main-header .nav .home-a {
    display: none;
  }
}
@media (max-width: 1400px) and (max-width: 375px) {
  .main-header .nav .home-a {
    display: none;
  }
}
@media (max-width: 1400px) {
  .main-header .nav .hamburger-menu {
    display: none;
  }
}
@media (max-width: 790px) {
  .main-header .nav .hamburger-menu {
    display: flex;
    justify-content: flex-end;
    background-color: #ffd11c;
    width: 8vh;
    height: 5vh;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }
  .main-header .nav .hamburger-menu:hover {
    transform: rotate(360deg);
  }
}
@media (max-width: 1400px) {
  .main-header .toggle-menu {
    display: none;
  }
  .main-header .toggle-menu .menu {
    display: none;
  }
  .main-header .toggle-menu .menu .a {
    display: none;
  }
}
@media (max-width: 600px) {
  .main-header .toggle-menu {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
  }
  .main-header .toggle-menu .menu {
    display: flex;
    background: black;
    flex-flow: column nowrap;
  }
  .main-header .toggle-menu .menu .a {
    display: block;
    font-size: 1.3rem;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Concert One', cursive;
    display: none;
  }
  .main-header .toggle-menu .menu .a:hover {
    background: #ffd11c;
    color: #00044A;
  }
}
@media (max-width: 790px) {
  .main-header .toggle-menu {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
  }
  .main-header .toggle-menu .menu {
    display: flex;
    background: black;
    flex-flow: column nowrap;
  }
  .main-header .toggle-menu .menu .a {
    display: block;
    font-size: 1.3rem;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Concert One', cursive;
    display: none;
  }
  .main-header .toggle-menu .menu .a:hover {
    background: #ffd11c;
    color: #00044A;
  }
}
@media (max-width: 900px) {
  .main-header .toggle-menu {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
  }
  .main-header .toggle-menu .menu {
    display: flex;
    background: black;
    flex-flow: column nowrap;
  }
  .main-header .toggle-menu .menu .a {
    display: block;
    font-size: 1.3rem;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Concert One', cursive;
    display: none;
  }
  .main-header .toggle-menu .menu .a:hover {
    background: #ffd11c;
    color: #00044A;
  }
}
@media (max-width: 375px) {
  .main-header .toggle-menu {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
  }
  .main-header .toggle-menu .menu {
    display: flex;
    background: black;
    flex-flow: column nowrap;
  }
  .main-header .toggle-menu .menu .a {
    display: block;
    font-size: 1.3rem;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Concert One', cursive;
    display: none;
  }
  .main-header .toggle-menu .menu .a:hover {
    background: #ffd11c;
    color: #00044A;
  }
}
.footer {
  width: 100%;
  background: #00044A;
  color: white;
}
@media (max-width: 600px) {
  .footer {
    text-align: center;
  }
}
@media (max-width: 790px) {
  .footer {
    text-align: center;
  }
}
@media (max-width: 900px) {
  .footer {
    text-align: center;
  }
}
.footer h3 {
  font-size: 1.3rem;
  font-family: 'quantico', sans-serif;
  padding: 10px;
}
.footer span {
  font-size: 1.2rem;
  margin: 20px;
  font-family: 'quantico', sans-serif;
}
.footer address {
  margin-left: 20px;
  padding-top: 5px;
  font-size: 1.2rem;
  font-family: 'quantico', sans-serif;
}
.footer p {
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  margin: 20px;
  font-family: 'quantico', sans-serif;
}
.home-page-container {
  max-width: 1000px;
  margin: 0 auto;
}
@media (max-width: 1400px) {
  .home-page-container {
    max-width: 1300px;
  }
}
.home-page-container .logo {
  float: left;
  margin: -30px 0px 30px 0px;
  padding: 5px;
}
.home-page-container .our-mission {
  background-image: url(/img/overlay.png), url(/img/art-background-blank-1020317.jpg);
  background-repeat: repeat, no-repeat;
  background-size: auto, 100% 100%;
  background-attachment: fixed;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}
.home-page-container .our-mission .desktop-view {
  font-size: 2.1rem;
  font-family: 'Bangers', cursive;
  text-align: center;
  padding-top: 30px;
  margin-top: 20px;
}
@media (max-width: 600px) {
  .home-page-container .our-mission .desktop-view {
    display: none;
  }
}
.home-page-container .our-mission .mobile-view {
  font-size: 2.1rem;
  font-family: 'Bangers', cursive;
  text-align: center;
  padding-top: 30px;
  margin-top: 20px;
  display: none;
}
@media (max-width: 600px) {
  .home-page-container .our-mission .mobile-view {
    display: block;
  }
}
.home-page-container .our-mission h3 {
  text-align: center;
  font-size: 1.9rem;
  font-family: 'Quantico', sans-serif;
  font-weight: bold;
  padding: 10px;
  margin: 5px;
}
@media (max-width: 600px) {
  .home-page-container .our-mission h3 {
    display: none;
  }
}
@media (max-width: 375px) {
  .home-page-container .our-mission h3 {
    display: block;
  }
}
@media (max-width: 790px) {
  .home-page-container .our-mission h3 {
    display: none;
  }
}
.home-page-container .our-mission .desktop-view-p {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Kalam', cursive;
  padding-bottom: 10px;
}
@media (max-width: 600px) {
  .home-page-container .our-mission .desktop-view-p {
    display: none;
  }
}
@media (max-width: 790px) {
  .home-page-container .our-mission .desktop-view-p {
    padding: 15px;
  }
}
.home-page-container .our-mission .mobile-view-p {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Kalam', cursive;
  padding-bottom: 10px;
  display: none;
}
@media (max-width: 600px) {
  .home-page-container .our-mission .mobile-view-p {
    display: block;
    padding: 10px;
    margin: 5px;
  }
}
.home-page-container .our-mission .button {
  display: flex;
  justify-content: center;
  padding: 5px;
}
@media (max-width: 600px) {
}
.home-page-container .our-mission .button button {
  width: 17vh;
  height: 17vh;
  background: #00044A;
  color: #FFD11C;
  font-size: 0.85rem;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
  font-family: 'quantico', sans-serif;
  padding: 6px;
  border-radius: 90%;
  border: 1px solid #00044A;
}
.home-page-container .our-mission .button button:hover {
  transform: rotate(360deg);
  background: #00077d;
  color: white;
}
.home-page-container h2 {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 900;
  padding: 10px;
  font-family: 'quantico', sans-serif;
  color: whitesmoke;
}
.home-page-container .jokes {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  justify-content: space-evenly;
}
.home-page-container .jokes .joke {
  height: 50vh;
  width: 50vh;
  background-image: url(/img/overlay.png), url(/img/art-background-blank-1020317.jpg);
  background-repeat: repeat, no-repeat;
  background-size: auto, 100% 100%;
  background-attachment: fixed;
  border: 1px solid;
  border-radius: 5px;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .home-page-container .jokes .joke {
    width: 80%;
  }
}
@media (max-width: 790px) {
  .home-page-container .jokes .joke {
    width: 80%;
  }
}
.home-page-container .jokes .joke h3 {
  font-size: 1.5rem;
  font-family: 'quantico', sans-serif;
  padding: 10px;
}
.home-page-container .jokes .joke p {
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Kalam', cursive;
  padding: 10px;
  display: none;
}
.home-page-container .jokes .joke span {
  font-size: 1rem;
  font-family: 'quantico', sans-serif;
  padding: 10px;
}
.home-page-container .jokes .joke button {
  padding: 5px;
  border-radius: 5px;
  background: #00044A;
  color: #ffd11c;
  border: 1px solid #00044A;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.home-page-container .jokes .joke button:hover {
  transform: translateY(5px);
  background-color: #000ab0;
}
* {
  margin: 0;
  padding: 0;
}
.about-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.about-container .logo-about {
  margin-bottom: -110px;
}
.about-container .team-section {
  overflow: hidden;
  text-align: center;
  padding: 60px;
  background-image: url(/img/overlay.png), url(/img/art-background-blank-1020317.jpg);
  background-repeat: repeat, no-repeat;
  background-size: auto, 100% 100%;
  background-attachment: fixed;
}
.about-container .team-section h1 {
  text-transform: uppercase;
  margin-bottom: 60px;
  color: black;
  font-size: 1.9rem;
  font-family: 'quantico', sans-serif;
}
@media (max-width: 600px) {
  .about-container .team-section h1 {
    text-align: center;
  }
}
@media (max-width: 790px) {
  .about-container .team-section h1 {
    text-align: center;
  }
}
.about-container .team-section .border {
  display: block;
  margin: auto;
  width: 160px;
  height: 3px;
  background: #00044A;
  margin-bottom: 40px;
}
.about-container .team-section .pictures {
  margin-bottom: 40px;
}
.about-container .team-section .pictures a {
  display: inline-block;
  margin: 0 30px;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
}
@media (max-width: 600px) {
  .about-container .team-section .pictures a {
    text-align: center;
  }
}
@media (max-width: 790px) {
  .about-container .team-section .pictures a {
    text-align: center;
  }
}
.about-container .team-section .pictures a img {
  width: 100%;
  filter: grayscale(100%);
  transition: all 0.5s;
}
.about-container .team-section .pictures a img:hover {
  filter: none;
}
@media (max-width: 600px) {
  .about-container .team-section .pictures a img {
    text-align: center;
  }
}
@media (max-width: 790px) {
  .about-container .team-section .pictures a img {
    text-align: center;
  }
}
.about-container .section {
  width: 60%;
  margin: auto;
  font-size: 1.3rem;
  color: #00044A;
  text-align: justify;
  height: 0;
  overflow: hidden;
}
.about-container .section:target {
  height: auto;
}
@media (max-width: 600px) {
  .about-container .section {
    text-align: center;
  }
}
@media (max-width: 790px) {
  .about-container .section {
    text-align: center;
  }
}
.about-container .section .name {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'quantico', sans-serif;
}
@media (max-width: 600px) {
  .about-container .section .name {
    text-align: center;
  }
}
@media (max-width: 790px) {
  .about-container .section .name {
    text-align: center;
  }
}
.about-container .section p {
  font-family: 'Kalam', cursive;
  font-size: 1.3rem;
}
@media (max-width: 600px) {
  .about-container .section p {
    text-align: center;
  }
}
@media (max-width: 790px) {
  .about-container .section p {
    text-align: center;
  }
}
body {
  font-size: 62.5%;
  background-image: url(/img/overlay.png), url(/img/4k-wallpaper-architecture-background-1308624.jpg);
  background-repeat: repeat, no-repeat;
  background-size: auto, 100% 100%;
  background-attachment: fixed;
}
